.tasks {
  float: left;
  width: 48%;
  margin: 1%;
  border-radius: 25%;
}
.checkbox-round {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%; /* Makes it round */
  vertical-align: middle;
  border: 0.1rem solid #000;
  appearance: none; /* Removes default browser styling */
  -webkit-appearance: none; /* For Safari and older browsers */
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: rgb(255, 0, 0); /* Change background when checked */
  background-image: ;
}

